<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="lib/font-awesome.min.css">
		<link rel="stylesheet" href="src/main.css">
	</head>
	<body ng-app="main" class="main-container">
		<section id="header" class="row clearfix">
			<img src="assets/NYiT-Logo.png" class="pull-left logo"/>
			<div class="pull-left logo-text"> 
				<div>Department of</div> 
				<div>Digital Art and Design</div>
			</div>
			<div class="col-sm-4 col-xs-12 pull-right logo-desc-block">
				<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				<div class="logo-link-block">
					<span>Visit us at </span>
					<a class="logo-link" href="http://nyit.edu/programs/digital_art_design">nyit.edu/programs/digital_art_design</a>
				</div>
			</div>
		</section>
		<ui-view></ui-view>

	<script src="lib/jquery.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-animate.min.js"></script>
	<script src="lib/angular-ui-router.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="src/js/app.js"></script>
	<script src="src/js/routes.js"></script>
	<script type="text/ng-template" id="homepage.html">
        <video controls class="homepage__video">
          <source src="assets/NYIT_COMPOSITE withLogo.mov">
          Your browser does not have support for this video.
        </video>
        <div class="homepage__block">
        	<div class="homepage__actions" ui-sref="bachelorsLanding">
        		<div>Bachelors of </div>
        		<div>Fine Art</div>
			</div>
        	<div class="homepage__actions" ui-sref="mastersLanding">
        		<div>Masters of </div>
				<div>Fine Art</div>
			</div>
        </div>
        <div class="text-center">
        	© New York Institute of Technology 2017
        </div>
    </script>

    <script type="text/ng-template" id="landingTitle.html">
    	<div class="row landingTitle__block">
    		<div class="col-sm-6 col-xs-12 landingTitle__content">
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
			</div>
		</div>
    </script>

    <script type="text/ng-template" id="mastersLanding.html">
    	<div class="nav">
    		<span ui-sref="home" class="nav__link">Home</span>
    		<span> / </span>
    		<span>Masters of Fine Art</span>
    	</div>
    	<div ng-include="'landingTitle.html'"></div>
    	<div class="row">
    		<div class="col-md-4 col-sm-6 col-xs-12 masters__action" ui-sref="subsection({subsection: 'animation'})">
    			<img src="" class="masters__img" />
    			<div class="masters__actionTitle">Animation</div>
    		</div>
    		<div class="col-md-4 col-sm-6 col-xs-12 masters__action" ui-sref="subsection({subsection: 'art_and_technology'})">
    			<img src="" class="masters__img" />
    			<div class="masters__actionTitle">Art & Technology</div>
    		</div>
    		<div class="col-md-4 col-sm-6 col-xs-12 masters__action" ui-sref="subsection({subsection: 'graphic_design'})">
    			<img src="" class="masters__img" />
    			<div class="masters__actionTitle">Graphic Design</div>
    		</div>
    	</div>
    	<div  ui-sref="credits" class="nav__link pull-right credits__footer">Credits</div>
    </script>

    <script type="text/ng-template" id="bachelorsLanding.html">
	    <div class="nav">
    		<span ui-sref="home" class="nav__link">Home</span>
    		<span> / </span>
    		<span>Bachelors of Fine Art</span>
    	</div>
    	<div ng-include="'landingTitle.html'"></div>
    	<work-demo></work-demo>
    </script>

    <script type="text/ng-template" id="subsection.html">
	    <div class="nav">
    		<span ui-sref="home" class="nav__link">Home</span>
    		<span> / </span>
    		<span ui-sref="mastersLanding" class="nav__link">Masters of Fine Art</span>
    		<span> / </span>
    		<span>Subsection</span>
    		<work-demo></work-demo>
    	</div>
    	
    </script>

    <script type="text/ng-template" id="credits.html">
    	<div ui-sref="home" class="credits__return">Return Home</div>
    	<div class="row">
    		<div class="col-xs-4 text-right">
	    		<div class="credits__title">MFA Student</div>
				 <div class="credits__title">Work created by</div>
    		</div>
    		<div class="col-xs-8">
    			<div class="col-xs-6 credits__name" ng-repeat="credit in credits">{{credit}}</div>
    		</div>
    	</div>
    </script>

    <script type="text/ng-template" id="work_demo.html">
    	<div class="clearfix">
			<img 
			ng-repeat="img in $ctrl.images track by $index" 
			src="{{img}}" 
			class="demo_img" 
			ng-click="$ctrl.openModal($index)"/>
    	</div>
    	<div class="mainModal" ng-if="$ctrl.showModal">
		    <div class="mainModal_content text-center">
		    	<!-- <div class="pull-right closeIcon clearfix">x</div> -->
		    		<div class="clearfix">
			    		<span class="glyphicon glyphicon glyphicon-remove-sign pull-right mainModal_close" ng-click="$ctrl.closeModal()" aria-hidden="true"></span>
		    		</div>
		    		<img src="{{$ctrl.images[$ctrl.currentDemoIndex]}}" class="mainModal_img"/>
	    	</div>
	    	<!-- <div class="mainModal_backdrop" ng-click="$ctrl.closeModal()"></div> -->
    	</div>
    </script>
	</body>
</html>